*{
    margin: 0px;
    padding: 0px;
    
  }
  
  #title{
    font-size: 60px;
    text-align: center;
    padding: 20px;
    background-color: #2617fd;
    color: #ffffff;
  }
  img{
    height:440px;
    width:250px;
    text-align: center;
  }
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  /* body{
    background-color: whitesmoke;
  } */
  .clock{
    font-size: 10vh;
    margin-top: 5vh;
    /* text-align: center; */
    
    
  }